extends ./base-template.jade
block container
    .jumbotron
      h1 Olá, retire seu amigo secreto!
      .input-group
        input.form-control(type='text', placeholder='Digite seu nome aqui ...', style='height:46px;')
        ///input-group
        span.input-group-btn
          button.btn.btn-primary.btn-lg(type='button') Click aqui para retirar seu amigo!
      p
    p veja quem esta participando :)
    // List group
    ul.list-group
      li.list-group-item Porta ac consectetur ac
      li.list-group-item Vestibulum at eros
      p